@{
    ViewData["Title"] = "User Deleted";
}

<h2>@ViewData["Title"]</h2>

<div class="alert alert-success" role="alert">
    O utilizador foi eliminado com sucesso.
</div>

<a asp-action="ManageUsers" asp-controller="Admin" class="btn btn-primary">Voltar à lista de utilizadores</a>
