@model WaterBillingApp.Data.Entities.TariffBracket

@{
    ViewData["Title"] = "Create Tariff";
}

<h1>Create Tariff</h1>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="MinVolume" class="form-label"></label>
        <input asp-for="MinVolume" class="form-control" />
        <span asp-validation-for="MinVolume" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="MaxVolume" class="form-label"></label>
        <input asp-for="MaxVolume" class="form-control" />
        <span asp-validation-for="MaxVolume" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PricePerCubicMeter" class="form-label"></label>
        <input asp-for="PricePerCubicMeter" class="form-control" />
        <span asp-validation-for="PricePerCubicMeter" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Create</button>
    <a asp-action="ManageTariffs" asp-controller="Tariff" class="btn btn-secondary mt-3">Cancel</a>
</form>
